# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

example1/bin/example1Debug.app/Contents/Frameworks/GLUT.framework/GLUT

example1/bin/data/.gitkeep

example1/bin/example1Debug.app/Contents/Frameworks/GLUT.framework/Headers

example1/bin/example1Debug.app/Contents/Frameworks/GLUT.framework/Resources
example1/bin/
example1/obj/
example1/emptyExample.VC.VC.opendb
example1/emptyExample.VC.db
example1/Example1.VC.db
example1/Example1.VC.VC.opendb
